body {
    margin:0;
    padding:0;
    
    background-color:rgba(236, 110, 26, 0.63);
    background-repeat:no-repeat;
    background-size:cover;
}
.header {
    height:90px; 
    display:flex; 
    flex-direction: row; 
    background-color:rgba(165, 42, 42, 0.527);
}

.img { 
    position:absolute; left:5%; 
    margin-top:-90px;
 }

 .nav-div {  position: absolute; }
 .nav-list { display: flex; list-style-type: none; margin-top:-30px; margin-left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
/*/STILIZIMI I LINKAVE NE HEADER NE GJENDJE NORMALE (PA KLIKIM)/*/
.nav-list a {
    float: left;
    color: white; 
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size: 18px;
  }
  /*/STILIZIMI I LINKAVE NE HEADER KUR VENDOSET MOUSE MBI TE/*/
  .nav-list a:hover {
    background-color:rgba(105, 100, 99, 0.445);
    color:white;
    border-radius:7px;
    text-decoration: none;

  }
  .nav-list a:visited {
    text-decoration: none;
    color: black;
  }

   /* LINKU AKTIV NE HEADER*/
   .nav-list a.active {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    border-radius: 7px;
    text-decoration: none;
  }
  .titulli {
    color:rgb(7, 68, 7); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center; padding-top:130px; font-size:30px;
}
.fjalite {
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    color:rgb(255, 255, 255);
    background-color:rgba(57, 56, 59, 0.473);
}
h1 {
    font-family:'Courier New', Courier, monospace;
    padding-top:20px;
    color:white;
}
.tedhenat{
    border-radius:30px; border:0px; padding-left: 15px; padding-top:20px; padding-right:370px; padding-bottom: 20px; 
                    background-color:rgba(236, 176, 176, 0.856); 
}
#submit {
    border-radius:30px; border:0; margin-bottom:90px; padding-left:250px; padding-top: 20px; padding-bottom:20px; padding-right:250px; 
                    background-color:brown; color:white;
}

     
  #informim {
      color:brown;
    }
    @media screen and (max-width: 1000px){
        .Items{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width:768px){
        .Items{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    
